
//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";




//
// Reskin shitty hubspot
// --------------------------------------------------

@import (reference) "forms.less";
@import (reference) "buttons.less";

.hs-input:extend(.form-control) {
  width: 100% !important;
}

.hs-button {
  &.primary:extend(.btn-primary) {}
  &.large:extend(.btn-lg){}
}

.hs-form {
  fieldset, .hs_submit, .hs-form-field {
    &:extend(.form-group);
    margin-bottom: 15px !important;
  }

  textarea {
    min-height: 5em;
  }
}




//
// THEME
// --------------------------------------------------


body, p, button, a {
  letter-spacing: 0.01rem;
}


.nav {
  a {
    font-weight: 300;
  }
  button {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.navbar {

  .navbar-brand {
    img {
      position:relative;
      top: -10px;
    }
  }

}

//
// Buttons
// --------------------------------------------------


// Mixin for generating new styles
.btn-styles(@btn-color: #555) {
  // #gradient > .vertical(@start-color: @btn-color; @end-color: darken(@btn-color, 12%));
  // .reset-filter(); // Disable gradients for IE9 because filter bleeds through rounded corners
  // background-repeat: repeat-x;
  // border-color: darken(@btn-color, 14%);

  &:hover,
  &:focus  {
    background-color: @btn-color;
    border-color: @btn-color;
    color: @body-bg;
  }
}

// Common styles
.btn, {
  transition: all .2s;
  // Remove the gradient for the pressed/active state
  &:active,
  &.active {
  }
  border-width: 2px;
}

// Apply the mixin to the buttons
.btn-default { .btn-styles(@btn-default-color); }
.btn-primary { .btn-styles(@brand-primary); }
.btn-success { .btn-styles(@brand-success); }
.btn-info    { .btn-styles(@brand-info); }
.btn-warning { .btn-styles(@brand-warning); }
.btn-danger  { .btn-styles(@brand-danger); }

p.lead {
  em {
    font-family: @font-family-serif;
    font-style: italic;
    font-size: floor((@font-size-base * 1.7));
  }
}


h1,
.h1 {
  font-family: 'Raleway', 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  font-weight: 200;
  i {
    font-family: @font-family-serif;
    font-size: floor((@font-size-h1 * 1.2));
  }
  b {
    font-weight: 500;
  }
}

h2, 
.h2, {
  font-family: 'Raleway', 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

h3, h4,
.h3, .h4 {
  font-family: 'Raleway', 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

h5, h6, 
.h5, .h6 {
  text-transform: uppercase;
  font-weight: 700;
  color: @brand-primary;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: @line-height-computed * 3;
}

.container {
  .jumbotron {
    padding-left: 0px;
    padding-right: 0px;
    background-color: @body-bg;

    h1, .h1 {
      font-size: @font-size-h1;
    }
  }
}









